$colour: #fdcb6e;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:white;
  border-bottom: dotted 1px white;
  text-decoration: none;
}

/* Home page CSS */
.main {
  min-height: 100vh;
}

.active_nav {
  color: $colour !important;
}


.hero {
  letter-spacing: 10px;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.icons svg{
  padding: 20px;
  padding-top: 50px;
  color: white;
}

.icon {
  border: none;
}

.loop {
  padding-top: 35px;
}

/* Box CSS */

.box {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  
}

.box-left {
  flex: 45%;
  padding: 20px;
  text-align: right;
}

.box-right {
  flex: 55%;
  padding: 20px;
}

.box-line {
  border-bottom: 1px solid white;
  margin-left:50px;
  margin-right:50px;
}

.box-badge-matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 10px;
}

.box-badge-wrapper {
  padding: 5px;
}


.box-badge{
  border-radius: 25px;
  border: 1px solid white;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 12px;
  color: $colour;
  border-color: $colour;
}

.box-heading {
  font-size: 30px;
  padding-bottom: 5px;
  color: $colour;
  text-decoration: none;
}

.box-subheading {
  font-size: 20px;
}

.box-date {
  font-size: 16px;
}

.box-description {
  padding-top: 5px;
  font-size: 16px;
}

.box-awards{
  font-size: 14px;
  padding: 2px;
}

/* Me Page CSS */ 

.me-outer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.me-left {
  flex: 35%;
  padding: 20px;
  // text-align: center;
}

.me-right {
  flex: 65%;
  padding: 20px;
}

.me-avatar {
  border-radius: 50%;
  width: 30%;
}

.me-titles {
  padding-top:10px;
  font-size: 20px;
}

.me-heading{
  padding-top:10px;
  font-size: 24px;
  letter-spacing: 3px;
}

.me-subheading{
  padding-top:60px;
  font-size: 16px;
  letter-spacing: 3px;
}

.me-about{
  padding-top:10px;
  font-size: 16px;
}

.me-footer {
  padding-top: 60px;
}

.me-table-header{
  font-size: 24px;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.me-table{
  font-size: 16px;
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
}

.me-table td{
  padding: 10px;
}

.me-table-title {
  width: 65%;
}

.me-table-data {
  width: 35%;
  text-align: right;
}

.me-table tr:nth-child(even) {background-color: #090A0F59;}

/* Map CSS */ 

#chartdiv {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

/* Project Page CSS */

.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 20px;
  // background: darkslateblue;
  overflow-x: hidden;
  padding: 8px 0;
  top: 60px;
  bottom: 20px;
  // border: white 1px solid;
  // box-shadow: 0 0 20px #090a0f;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  // color: #2196F3;
  display: block;
  border: none;
}

.sidenav a:hover {
  color: $colour;
}

.content {
  margin-left: 280px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.proj-icon{
  font-size: 10px !important;
  display: inline !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Mobile-specific classes for iPhone 5 and below */
@media only screen 
and (max-width : 325px) {

  .hero{
    font-size: 20px;
  }

  .icons {
    font-size: 30px;
  }

  .icons svg {
    padding: 0px;
    padding-top: 30px;
  }

} 

/* Mobile-specific classes for iPhone 6 and above */
@media only screen 
and (min-width : 326px) and (max-width: 481px) {

  .hero{
    font-size: 40px;
  }

  .icons {
    font-size: 50px;
  }

} 

/* Mobile-specific classes */
@media screen and (max-width: 481px){

  .main {
    padding-top: 25px;
    padding-left: 0px;
  }

  /* Home page CSS */
  .hero {
    width: 100%;
    letter-spacing: 0px;
  }

  /* Box CSS */
  .box {   
    flex-direction: column;
    padding: 5px;
  }

  /* Me CSS */ 

  .me-outer {
    flex-direction: column;
    padding: 5px;
  }

  .me-subheading {
    padding-top: 30px;
  }

  .me-footer{
    padding-top: 30px;
  }

  /* Projects Page CSS */
  
  .sidenav {
    display: none;
  }
  .content {
    margin-left: 0px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

}



.nav {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: space-between;
  color: white;

  .nav-brand {
    text-align: center;

    img {
      height: 120px;
      width: 120px;
      display: block;
      margin: 0 auto 2rem auto;
      border-radius: 100%;
    }
    a {
      color: white;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    justify-content: center;
    margin-left: 1rem;

    a {
      color: white;
      margin-bottom: 2rem;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-color: white;
    margin: 20px 0 5px 0;
    width: 100%;
  }

  .footer .btn {
    width: 100%;
  }
}

.hamburgerBtn {
  display: none;
  background-color: transparent;
  border: none;
}

.hamburgerBtn:hover {
  cursor: pointer;
}


.layout {
  margin-left: 220px;
  min-height: 100vh;
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    transform: translateX(-100vw);
    transition: transform 500ms;

    .nav-brand {
      .nav-brand-img {
        display: none !important;
      }

      .nav-brand-link {
        font-size: 2.4rem;
      }
    }

    .nav-items {
      align-items: center;

      .nav-item {
        display: block;
        margin-bottom: 1rem;

        & > a {
          font-size: 1.8rem;
        }
      }
    }
  }

  .hamburgerBtn,
  .closeBtn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: inline-block;
    z-index: 100;
    color: white;
  }

  .closeBtn > svg {
    color: white;
  }

  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    width: 100%;
    z-index: 10;
    transform: translateX(0);
    padding-top: 10rem;
  }

  .layout {
    margin-left: 0;
  }
}