$dark_primary: #1B2735;
$dark_secondary: #202124;
$dark_accent: #fdcb6e;

$light_primary: #a7d3ff;
$light_secondary: #F1F3F4;
$light_accent: white;
$light_accent2: #6db6ff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-color: #1B2735;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

/* Home page CSS */
.main {
  min-height: 100vh;
}


.home-titles {  
  width: 100vw;
  text-align: center;
}

.home-subheading{
  font-size: 20px;
  letter-spacing: 2px;
}


.hero {
  letter-spacing: 10px;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.icons svg{
  padding: 20px;
  padding-top: 50px;
}

.icon {
  border: none;
}

.loop {
  padding-top: 35px;
}

/* Box CSS */

.box {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  
}

.box-left {
  flex: 35%;
  padding: 20px;
  text-align: right;
}

.box-right {
  flex: 65%;
  padding: 20px;
}

.box-line {
  border-bottom: 1px solid white;
  margin-left:50px;
  margin-right:50px;
}

.box-badge-matrix {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 10px;
}

.box-badge-wrapper {
  padding: 5px;
}


.box-badge{
  border-radius: 25px;
  border: 1px solid white;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 12px;
}

.box-heading {
  font-size: 30px;
  padding-bottom: 5px;
  text-decoration: none;
}

.box-subheading {
  font-size: 20px;
}

.box-date {
  font-size: 16px;
}

.box-description {
  padding-top: 5px;
  font-size: 16px;
}

.box-awards{
  font-size: 14px;
  padding: 2px;
}

/* Me Page CSS */ 

.me-outer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.me-left {
  flex: 35%;
  padding: 20px;
  // text-align: center;
}

.me-right {
  flex: 65%;
  padding: 20px;
}

.me-avatar {
  border-radius: 50%;
  width: 30%;
}

.me-titles {
  padding-top:10px;
  font-size: 20px;
}

.me-heading{
  padding-top:10px;
  font-size: 24px;
  letter-spacing: 3px;
}

.me-subheading{
  padding-top:60px;
  font-size: 16px;
  letter-spacing: 3px;
}

.me-about{
  padding-top:10px;
  font-size: 16px;
}

.me-footer {
  padding-top: 60px;
}

.me-table-header{
  font-size: 24px;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.me-table{
  font-size: 16px;
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
}

.me-table td{
  padding: 10px;
}

.me-table-title {
  width: 65%;
}

.me-table-data {
  width: 35%;
  text-align: right;
}

.me-table tr:nth-child(even) {background-color: #090A0F59;}

.show-mobile-only {
  display:none;
}

.show-desktop-only {
  display:block;
}

/* Map CSS */ 

#chartdiv {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

/* Project Page CSS */

.project {
  padding: 30px;
  margin: 20px;
  margin-left: 100px;  
  margin-right: 100px;
  text-align: left;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project-collapsed {
  display:none;
}

.project-expanded {
  display: block;
}

/* Nav Bar CSS */ 

.nav {
  background-color: #202124;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: space-between;
  text-align: center;

  .nav-brand {
    text-align: center;

    img {
      height: 120px;
      width: 120px;
      display: block;
      margin: 0 auto 2rem auto;
      border-radius: 100%;
    }
    a {
      font-size: 30px;
      font-weight: 500;
      text-decoration: none;
      border: none;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    justify-content: center;
    font-size: 20px;

    a {
      margin-bottom: 2rem;
      text-decoration: none;
      border: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-color: white;
    margin: 20px 0 5px 0;
    width: 100%;
  }

  .footer .btn {
    width: 100%;
    
  }
}

.nav-socials {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.nav-icon {
  border: none;
  padding: 5px;
}

.nav-titles {
  text-align: center;
  width: 200px;
  padding-top:10px;
  font-size: 20px;
}

.hamburgerBtn,
.closeBtn{
  display: none;
  background-color: transparent;
  border: none;
}

.hamburgerBtn:hover {
  cursor: pointer;
}


.layout {
  margin-left: 250px;
  min-height: 100vh;
  padding-top: 2rem;
}

/* Nav Bar Mobile Specific CSS */ 

@media only screen and (max-width: 896px) {
  .nav {
    transform: translateX(-100vw);
    transition: transform 500ms;

    .nav-brand {
      .nav-brand-img {
        display: none !important;
      }
      
      .nav-brand-link {
        font-size: 2.4rem;
      }
    }

    .nav-items {
      align-items: center;

      .nav-item {
        display: block;
        margin-bottom: 0.5rem;

        & > a {
          font-size: 1.8rem;
        }
      }
    }
  }

  .hamburgerBtn,
  .closeBtn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: inline-block;
    z-index: 100;
    color: white;
  }



  .nav.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.98;
    width: 100%;
    z-index: 10;
    transform: translateX(0);
    padding-top: 10rem;
    padding-bottom: 20rem;
  }

  .layout {
    margin-left: 0;
  }
}

/* Mobile-specific classes for iPhone 5 and below */
@media only screen 
and (max-width : 325px) {

  .hero{
    font-size: 20px;
  }

  .icons {
    font-size: 30px;
  }

  .icons svg {
    padding: 0px;
    padding-top: 30px;
  }

} 

/* Mobile-specific classes for iPhone 6 and above */
@media only screen 
and (min-width : 326px) and (max-width: 481px) {

  .hero{
    font-size: 40px;
  }

  .icons {
    font-size: 50px;
  }

} 

/* Mobile-specific classes */
@media screen and (max-width: 481px){

  .main {
    padding-top: 25px;
    padding-left: 0px;
  }

  /* Home page CSS */
  .hero {
    width: 100%;
    letter-spacing: 0px;
    justify-content: start;
  }

  /* Box CSS */
  .box {   
    flex-direction: column;
    padding: 5px;
  }

  /* Me CSS */ 

  .me-outer {
    flex-direction: column;
    padding: 5px;
  }

  .me-subheading {
    padding-top: 30px;
  }

  .me-footer{
    padding-top: 30px;
  }

  .show-mobile-only {
    display:block;
  }

  .show-desktop-only {
    display:none;
  }

  /* Project Page CSS */

  .project{
    margin-left: 10px;  
    margin-right: 10px;
  }
}




/* Light Mode CSS */

@media (prefers-color-scheme: light) {
  .nav {
    background-color: $light_secondary;
  }

  body {
    color:black;
    background-color: $light_primary;
  }

  a {
    color:black;
    border-bottom: dotted 1px black;
  }
  .icons svg {
    color: black;
  }

  .active_nav {
    color: $light_accent2 !important;
  }

  .box-badge {
    color: $light_accent;
    border-color: $light_accent;
  }

  .box-heading {
    color: $light_accent;
  }

  .closeBtn > svg {
    color: $light_accent2;
  }

  .project {
    background-color: $light_secondary;
  }
  
} 

/* Dark Mode CSS */

@media (prefers-color-scheme: dark) {
  
  .nav {
    background-color: $dark_secondary;
  }

  body {
    color: white;
    background-color: $dark_primary;
  }

  a {
    color:white;
    border-bottom: dotted 1px white;
  }
  
  .icons svg {
    color: white;
  }

  .active_nav {
    color: $dark_accent !important;
  }

  .box-badge {
    color: $dark_accent;
    border-color: $dark_accent;
  }

  .box-heading {
    color: $dark_accent;
  }

  .closeBtn > svg {
    color: white;
  }

  .project {
    background-color: $dark_secondary;
  }

}
